<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MBMD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/app.css" rel="stylesheet">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/d3-format.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.min.js"></script>
</head>

<body>
<div class="container">
	<template id="measurement">
		<tr>
			<td>{{name}} -> {{data.value}}</td>
		</tr>
	</template>

	<div id="app">
<!--
		<template >
			<tr class="d-flex" v-if="this.display">
				<td class="col-3">${name}</td>
				<td class="col-2" v-if="this.l1">${val1}</td>
				<td class="col-2" v-else>&mdash;</td>
				<td class="col-2" v-if="this.l2">${val1}</td>
				<td class="col-2" v-else>&mdash;</td>
				<td class="col-2" v-if="this.l3">${val1}</td>
				<td class="col-2" v-else>&mdash;</td>
				<td class="col-3" v-if="this.foo">foo</td>
				<td class="col-3" v-else>&mdash;</td>
			</tr>
		</template>
	-->

		{{obj}}

		<template v-for="(m,i) in obj">
		<table>
			<measurement v-bind:name="i" v-bind:data="m"></measurement>
		</table>
		</template>
	</div>
</div>


<script>
Vue.component('measurement', {
	template: '#measurement',
	props: {
		name: String,
		data: Object,
	},
});

var dataapp = new Vue({
	el: '#app',
	data: {
		msg: "foobarbaz",
		ary: ["a","b","c"],
		obj: {
			a:{value:"aa"},
			b:{value:"bb"},
		},
	},
});

</script>
</body>
</html>
